.tool-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  align-content: center;
  .tool-content {
    width: 600px;
    background: white;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    .submit {
      margin-top: 20px;
      .result {
        margin-left: 20px
      }
    }
  }
}