@import "../../../config/constant.scss";

.mts-data-list {
  .ant-modal-content {
    --width: 1000px;
    width: var(--width);
    height: 600px;
    margin-left: calc(50% - var(--width) / 2);
    margin-top: 10px;
    .content {
      text-indent: 32px;
    }
    .ant-modal-footer {
      display: none;
    }
    .ant-modal-body {
      height: calc(100% - 55px);
      overflow: auto;
      font-size: 16px;
      line-height: 30px;
      .sensitive {
        color: red;
        font-weight: bolder;
      }
      .iskeyword {
        color: #1890ff;
        font-weight: bolder;
      }
    }
    .attr {
      width: 40%;
      margin-right: 10%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .title {
        color: red;
      }
    }
  }
}
.mts-content-modal .ant-modal-header{
  background-color: $default-dark-blue;
  .ant-modal-title {
    font-size: 18px;
    color: white;
  }
}
.mts-content-modal .ant-modal-close svg{
  color: white;
}
.mts-content-modal {
  top: 5%
}