.mts-data-list-footer {
  display: flex;
  vertical-align: center;
  line-height: 40px;
  .mts-data-list-filter-input {
    margin-left: auto;
    width: 30%;
    display: inline-block;
    padding-right: 10px;
  }
  .mts-data-list-icon-button {
    display: inline-block;
    padding: 0;
  }
}
.mts-data-list-addr {
  display: inline-block;
  max-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mts-data-list-title {
  display: inline-block;
  max-width: 200px;
}
.ant-table {
  font-size: 16px;
  .title-content {
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.addMateriallibsButton{
  margin-bottom: 2px;
}
.redSpan{
  color: red;
}
.graySpan{
  color: gray;
}