.blueSpan{
  color: blue;
}
.description{
  color: #000;
}
.descriptionSpan{
  color: #555555;
}
.description-detail-span{
  display: block;
  color: #555555;
}
.manIcon{
  color: #1890FF;
}
.womanIcon{
  color: #FFB6C1;
}