.programme-config-wrap {
  min-height: 100%;
  display: flex;
  vertical-align: center;
  align-items: center;
  justify-content: center;
  .config-form {
    width: 90%;
    background: white;
    padding: 30px;
    margin: 30px auto;
    .submit-btn-wrap {
      width: 100%;
      display: flex;
      vertical-align: center;
      align-items: center;
      justify-content: center;
      .submit-btn {
        width: 100px;
        margin-right: 20px;
        margin-left: 20px;
      }
    }
  }
  .dynamic-delete-button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .dynamic-delete-button:hover {
    color: #777;
  }
  .dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
.config-form-button{
  width:20%;
}
.config-form-input{
  width:95%;
}
.config-modal-button{
  font-size: 15px;
}