.trace-wrap {
  .trace-container {
    background: white;
    margin: 30px 5%;
    height: 90%;
    overflow: auto;
  }
  .input-wrap {
    height: 60px;
    display: flex;
    border-bottom: 1px solid #f0f0f0;
    align-items: center;
    padding:0 10px;
    justify-items: center;
  }
  .input {
    padding: 50px;
    background: white;
  }
  .result {
    width: 80%;
    float: left;
    min-height: 400px;
  }
  .activate-users-list {
    background: white;
    width: 20%;
    float: right;
    span {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}